# настройки IDE и системные файлы
.DS_Store
.vscode/
.venv/
/venv/
__pycache__/
*.pyc
.idea/
.pytest_cache/
*.log

# секреты
.env
secrets_local.py

# отчёты о прогонах
allure-results/
allure-report/
test-results/
report.html


*.db
*.xlsx
*.csv
*.env


auth.json